
@{
    ViewData["Title"] = "CheckCustomerNumber";
}

<form asp-action="CheckCustomerNumber" method="post">
    <input type="text" name="phoneNumber"/>
    <button type="submit" style="background-color:skyblue"  ><b style="color:black">Check phone number</b></button>
</form>

